extends ../node_modules/jade-bootstrap/_bootstrap

block body
    nav.navbar.navbar-fixed-top.navbar-default(role='navigation')
        .container-fluid
            .navbar-header
                button.navbar-toggle(type='button', data-toggle='collapse', data-target='#navbar')
                    span.icon-bar
                    span.icon-bar
                    span.icon-bar
                a.navbar-brand(href='/') Colenso Project
            #navbar.collapse.navbar-collapse
                ul.nav.navbar-nav
                    li
                        a(href='/') Home
                    li
                        a(href='/list') File Explorer
                    li.active
                        a(href='/addDoc') Add Document
                    li
                        form.navbar-form.navbar-left(action='search', method='get')
                            .form-group
                                .input-group
                                    input.form-control(type='text', placeholder='Search...', name='searchString')
                                    .input-group-btn
                                        .btn-group
                                            button.btn.btn-default(type='submit') Search
                                            button.btn.btn-default.dropdown-toggle(type='button', data-toggle='dropdown')
                                                span.caret
                                            ul.dropdown-menu
                                                li
                                                    label
                                                        input(type='radio', name='gridRadios', value='option1', checked='true')
                                                        | Search by text
                                                li
                                                    label
                                                        input(type='radio', name='gridRadios', value='option2')
                                                        | Search by xquery

    .container(style="padding-top: 70px")
        .page-header(style="font-family: 'Calibri', 'Trebuchet MS', sans-serif;")
            h2 Add To Database
            p Please input the file path and where you want to store the file in the database in the form below
            p eg input file c:/user/xmlDocs/tempFile.xml to Colenso/Broughton/private_letters/

        .jumbotron
            if pathOfFile == ""
                +alert-danger("Please input the path")
            if error == true
                +alert-danger("That Resource does not exist")
            form(action="addDoc", method="get")
                .form-group.row
                    label.col-sm-2.form-control-label(for='pathBar') Path to file
                    .col-sm-10
                        input#pathBar.form-control(type='text', name='path' ,placeholder='')
                .form-group.row
                    label.col-sm-2.form-control-label(for='dirBar') Place to add in database
                    .col-sm-10
                        input#dirBar.form-control(type='text', name='addToo' ,placeholder='')
                .form-group.row
                    .col-sm-offset-2.col-sm-10
                        button.btn.btn-secondary(type='submit') Add to Database
                if addDoc == true
                    +alert-ix-success("File was successfully added to " + addedTo)


