extends ../node_modules/jade-bootstrap/_bootstrap

block body

    nav.navbar.navbar-fixed-top.navbar-default(role='navigation')
        .container-fluid
            .navbar-header
                button.navbar-toggle(type='button', data-toggle='collapse', data-target='#navbar')
                    span.icon-bar
                    span.icon-bar
                    span.icon-bar
                a.navbar-brand(href='/') Colenso Project
            #navbar.collapse.navbar-collapse
                ul.nav.navbar-nav
                    li.active
                        a(href='/') Home
                    li
                        a(href='/list') File Explorer
                    li
                        a(href='/addDoc') Add Document
    .container(style="padding-top: 70px")
            h1=title
    .container
        //p add radio button either search by text or markup
        //form(action="search", method="get")
            input(type="text", name="searchString")
            input(type="submit")
        br
    .container
        .jumbotron
            form(action="search", method="get")
                .form-group.row
                    label.col-sm-2.form-control-label(for='searchBar') Search
                    .col-sm-10
                        input#searchBar.form-control(type='text', name='searchString' ,placeholder='search query')
                .form-group.row
                    .col-sm-10
                        .radio
                            label
                                input#gridRadios1(type='radio', name='gridRadios', value='option1', checked='')
                                |           Search by Text
                        .radio
                            label
                                input#gridRadios2(type='radio', name='gridRadios', value='option2')
                                |           Search by XQuery
                .form-group.row
                    .col-sm-offset-2.col-sm-10
                        button.btn.btn-secondary(type='submit') Search
