extends ../node_modules/jade-bootstrap/_bootstrap

block body
    nav.navbar.navbar-fixed-top.navbar-default(role='navigation')
        .container-fluid
            .navbar-header
                button.navbar-toggle(type='button', data-toggle='collapse', data-target='#navbar')
                    span.icon-bar
                    span.icon-bar
                    span.icon-bar
                a.navbar-brand(href='/') Colenso Project
            #navbar.collapse.navbar-collapse
                ul.nav.navbar-nav
                    li
                        a(href='/') Home
                    li
                        a(href='/list') File Explorer
                    li
                        a(href='/addDoc') Add Document
    .container(style="padding-top: 70px")
        h3(style="font-family: 'Calibri', 'Trebuchet MS', sans-serif;") Search Results
        if searchType == "option1"
            p
                | Searching by text
        else if searchType == "option2"
            p
                | searching by XQuery
        p You searched for #{search}
        -var list = searchResult.split("\n");
        ul
            each listItem in list
                //if searchType == "option1"
                li: a(href='/viewDoc?doc=/Colenso/' + listItem) #{listItem}
                //else
                    li #{listItem}
        //p #{searchResult}
