extends ../node_modules/jade-bootstrap/_bootstrap

block body
    nav.navbar.navbar-fixed-top.navbar-default(role='navigation')
        .container-fluid
            .navbar-header
                button.navbar-toggle(type='button', data-toggle='collapse', data-target='#navbar')
                    span.icon-bar
                    span.icon-bar
                    span.icon-bar
                a.navbar-brand(href='/') Colenso Project
            #navbar.collapse.navbar-collapse
                ul.nav.navbar-nav
                    li
                        a(href='/') Home
                    li
                        a(href='/list') File Explorer
                    li
                        a(href='/addDoc') Add Document
                    li
                        form.navbar-form.navbar-left(action='search', method='get')
                            .form-group
                                .input-group
                                    input.form-control(type='text', placeholder='Search...', name='searchString')
                                    .input-group-btn
                                        .btn-group
                                            button.btn.btn-default(type='submit') Search
                                            button.btn.btn-default.dropdown-toggle(type='button', data-toggle='dropdown')
                                                span.caret
                                            ul.dropdown-menu
                                                li
                                                    label
                                                        input(type='radio', name='gridRadios', value='option1', checked='true')
                                                        | Search by text
                                                li
                                                    label
                                                        input(type='radio', name='gridRadios', value='option2')
                                                        | Search by xquery
    .container(style="padding-top: 70px")
        .page-header
            h2(style="font-family: 'Calibri', 'Trebuchet MS', sans-serif;") Search Results
            if searchType == "option1"
                p
                    | Searching by text
            else if searchType == "option2"
                p
                    | searching by XQuery
            p You searched for #{search}
        -var list = searchResult.split("\n");
        ul
            each listItem in list
                li: a(href='/viewDoc?doc=/Colenso/' + listItem + '&type='+searchType+'&search='+search) #{listItem}

    span(style="position: fixed; bottom: 18px; right: 10px;")
        a.well.well-sm(href='#top', onclick="$('html,body').animate({scrollTop:0},'slow');return false;")
            i.glyphicon.glyphicon-chevron-up