extends ../node_modules/jade-bootstrap/_bootstrap

block body
    +navbar("Colenso Project", "dropdown_menu")
        +nav_item("/") Home
        +nav_item("/list") File Explorer
    .container
        h3 Search page
    .container
        p search type is #{searchType} .
        if searchType == "option1"
            p
             | you choose to search by text
        else if searchType == "option2"
            p
             | you choose to search by XQuery
        p You typed in #{search}.
    .container
        h3(style="font-family: 'Calibri', 'Trebuchet MS', sans-serif;") Search Results
        -var list = searchResult.split("\n");
        ul
            each listItem in list
                li #{listItem}
        p #{searchResult}
