extends ../node_modules/jade-bootstrap/_bootstrap

block body
    +navbar("Colenso Project", "dropdown_menu")
        +nav_item("/") Home
        +nav_item("/list") File Explorer
    .container
        h3 Currently viewing #{path.split("/").pop()}
        -var prevPath = path.substring(0, path.lastIndexOf('/'));
        .btn-group(role='group', aria-label='...')
            a.btn.btn-default(href="/list?place=/"+prevPath+'/', type='button') Return to File Explorer
            a.btn.btn-default(href="#", type='button') Save TEI
        br
        br
    .container
        +tab-list(["noXML", "XML", "edit"],0)
            +tab("noXML","active")
                p
                | !{doc}
            +tab("XML")
                p
                | #{doc}
            +tab("edit")
                p
                | This is where you will be able to edit the XML doc